body{
    background-color: #8942f4;
font-family:Arial, cursive;
    margin-left:100px;
}
h1{
    color:#f4df42;
    font-size:50px;
    font-family:cursive;
}
p{
   color:#f4df42;
    font-size:50px;
    font-family:cursive; 
}